.search__input {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
  /* This max wiedth is done so that if a large 4k screen is used the search bar doesn't expand upto 75% of that big screen which will look awful */
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  font-size: medium;
  outline: none;
}

.search__inputIcon {
  color: gray;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: lightgray;
  border: 1px solid #ffffff;
  color: #5f6368;
  text-transform: inherit;
}
.search__buttons > .MuiButton-root:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8e8 !important;
  border: 1px solid #c6c6c6 !important;
  color: #222 !important;
}

.search__buttonsHidden {
  display: none !important;
}
